@font-face {
  font-family: "IBM Plex Sans";
  src: url(IBMPlexSans-Regular.ttf);
  weight: 400;
}

/* @font-face {
  font-family: "IBM Plex Sans";
  src: url(IBMPlexSans-Bold.ttf);
  weight: 600;
} */
